<server>
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>cdi-2.0</feature>

        <feature>mpOpenTracing-1.3</feature>
    </featureManager>

    <opentracingZipkin/>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443"/>

    <webApplication location="tracing-demo.war" contextRoot="/tracing-demo">
        <classloader apiTypeVisibility="api,ibm-api,spec,stable,third-party"/>
    </webApplication>
</server>
